<h2>Contribute</h2>

<form class="registration-form contribute" method="post" action="posts">
  <div class="registration-form-column contribute">
    <label for="title"> Title </label>
    <input type="text" id="title" name="title" placeholder="Title">
    <label for="content"> Content </label>
    <textarea id="content" name="content" placeholder="Insert your content here..."></textarea>
  </div>
  <div class="registration-form-submit-wrap">
    <input class="registration-form-submit contribute" type="submit" value="Submit" />
  </div>
</form>





