<h2>Contact Us</h2>

<form class="registration-form" action="/contact" method="post" id="contact">
    <div class="registration-form-column contact">
        <label for="name">Your Name</label>
        <input type="text" id="name" name="name" placeholder="name">

        <label for="email">Email Address</label>
        <input type="text" id="email" name="email" placeholder="your_email@example.com">

        <label for="message">Message</label>
        <textarea id="message" name="message" placeholder="write us a message here..."></textarea>
    </div>
    <div class="registration-form-submit-wrap contact">
      <input class="registration-form-submit" type="submit" value="SEND" />
    </div>
</form>