<h2>Browse</h2>

<p>
  <button type="button" class="btn-tag btn-github">Github</button>
  <button type="button" class="btn-tag btn-jquery">jQuery</button>
  <button type="button" class="btn-tag btn-meteor">Meteor</button>
  <button type="button" class="btn-tag btn-terminal">Terminal</button>
  <button type="button" class="btn-tag btn-definitions">Basic Definitions</button>
  <button type="button" class="btn-tag btn-ror">Ruby on Rails</button>
</p>

<div class="posts">
  <% @posts.each do |p| %>
    <div class="individual_post">
      <a href="/posts/<%= p.id %>"><%= p.title %></a>
      <div class="individual_post_user">
        <%= p.user.username %>
      </div>
    </div>
  <% end %>
</div>