<h2>Browse</h2>

<div class="filter">
  <div class="tags">
    <p class= "tags-group">
      <% @tags.each do |t| %>
        <a href="/browse/<%= t.id %>" class="btn btn-success btn-<%= t.name %>"><%= t.name %></a>
      <% end %>
    </p>
  </div>
</div>

<div class="posts">
  <% @posts.each do |p| %>
    <div class="individual_post">
      <a href="/posts/<%= p.id %>"><%= p.title %></a>
      <div class="individual_post_user">
        <a href="/profile/<%= p.user.id %>"><%= p.user.username %></a>
      </div>
    </div>
  <% end %>
</div>